*~
__pycache__/

### generated output: measurement data, plots
A_v_lag_*.dat
Q_v_cfg_*.dat
Qc_*.dat
Qp_*.dat
Qboth_*.dat
QC_*.pdf
QP_*.pdf
corr_QP_QC_*.pdf
S_v_cfg_*.dat
W11_v_cfg_*.dat
Sbin_*.dat
plaquette_v_cfg_*.dat
test_wf_*.dat
histo_Q.gp

### generated output: saved lattice configurations, any action/size/beta
*_[0-9]*x[0-9]*x[0-9]*x[0-9]*_b[0-9]*/

### reference material / plots not meant to be version-controlled
*.pdf

### old, no longer used
measure_SQCD_bins.py
measure_SQCD_bins.py_remove
